.logincards {
	width: 80%;
	height: 500px;
	margin: 0px auto;
}

.singlelogin {
	margin-top: 20px;
	position: relative;
	float: left;
	margin-left: 80px;
}

.singlelogin:first-child {
	margin-left: 220px;
}

.logincredcard {
	width: 50%;
	margin: 0 auto;
}

.glass {
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: blur(10px);
	box-shadow: 10px 10px 100px 10px #888888;
	border-radius: 10px;
}
.card {
	background-color: rgba(120, 113, 113, 0.55);
}

/* .glasscus {
	background: url( ../images/image.jpeg );
}


.glassemp {
	background: url( ../images/image.jpeg );
} */
